html, body {
  height: 90%;
  margin: 0;
  padding: 0;
}
#map-canvas {
  height: 100%;
}
.sideNavSearch {
  height: 5%;
}
.searchBar {
  margin-bottom: 0;
}
.searchBtn {
  margin-top: 10px;
}
.coffeeHeader {
  background-image: url('coffee.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 0, 0, 0.1);
}
.brand-logo {
  left: 15%;
  font: 3rem 'Pacifico', Helvetica, sans-serif !important;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}
nav .input-field input {
  padding-left: 0;
}
.infowindow p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}
.infowindow h5 {
  font: 2rem;
  font-family: 'Open Sans', sans-serif;
}
ul {
  background-image: url('coffeeSideNav.png');
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 992px) {
  .brand-logo {
    left: 35% !important;
    font-size: 2rem !important;
    top: 23% !important;
  }
  html, body {
    height: 95% !important;
    margin: 0;
    padding: 0;
  }
}
input[type=text] {
  color: brown;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 1.3rem;
}
.row .col.s2 {
  width: 13.666667%;
}
.btn-large {
  font-family: 'Open Sans', sans-serif !important;
}
@media only screen and (min-width: 601px) {
  nav .nav-wrapper i {
    line-height: 54px !important;
  }
}
