html, body {
  height: 90%;
  margin: 0;
  padding: 0;
}
#map-canvas {
  height: 100%;
}
.sideNavSearch {
  height: 5%;
}
.searchBar {
  margin-bottom: 0;
}
.searchBtn {
  margin-top: 10px;
}
.coffeeHeader {
  background-image: url('coffee.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.brand-logo {
  left: 15%;
  font: 3rem 'Pacifico', Helvetica, sans-serif !important;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}
nav .input-field input {
  padding-left: 0;
}
.infowindow p {
  margin-top: 0;
  margin-bottom: 0;
}
.infowindow h5 {
  font: 2rem 'Pacifico', Helvetica, sans-serif;
}
ul {
  background-image: url('coffeeSideNav.png');
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 992px) {
  .brand-logo {
    left: 35% !important;
    font-size: 2rem !important;
  }
  html, body {
    height: 95% !important;
    margin: 0;
    padding: 0;
  }
}
